export PROJECT_ROOT="$(pwd)"
export PROJECT_NAME="QuantETF_NY"

export QSHARED="$HOME/Library/Mobile Documents/com~apple~CloudDocs/QuantShared"
export NY_SHARED="$QSHARED/ETF_NY"

export DATA_ENRICHED_BASE="$NY_SHARED/data_enriched"
export ETF_LIST_XLSX="$QSHARED/ETF_list.xlsx"
export ETF_SHEET="signalsNY"
export SIGNALS_SHARED_DIR="$NY_SHARED/signals"
export REPORTS_DIR="$NY_SHARED/reports"
export MODELS_DIR="$NY_SHARED/models"

export PYTHONPATH="$PROJECT_ROOT:$PYTHONPATH"
